/* Available globally */
:root {
    --main-color: #581845 ;
    --black: #13131a;
    --white: #fff;
    --bg: #d3ad7f;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

/* Base styling */
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

/* Root */
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
    background: transparent;
}

/* Pseudo-element for scrollbar */
html::-webkit-scrollbar {
    width: .8rem;
}
html::-webkit-scrollbar-track {
    background: var(--bg);
}
html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5rem;
}
html::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

/* Head section start */
header .logo img {
    height: 6rem;
}
header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 8rem;
}
header .navbar a {
    margin: 1rem;
    font-size: 1.6rem;
    color: var(--white);
}
header .navbar a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}
header .icons i {
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    margin-left: 2rem;
}
header .icons i:hover {
    color: var(--main-color);
}
header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 40rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0); /* making invisible by shrinking its height */
    transform-origin: top;
}
header .search-form.active {
    transform: scaleY(1);
}
header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}
header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}
header .search-form label:hover {
    color: var(--bg);
}
#menu-btn {
    display: none;
}
header .cart-items-container {
    position: absolute;
    top: 100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding: 0 1.5rem;
}

header .cart-items-container.active {
    right: 0px;
}
/* CART CONTAINER SECTION */
#cart-container {
    width: 100%;
    max-width: 300px;
    margin: auto;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}
.cart-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* gap: 10px; */
    font-weight: bold;
    background: #ddd;
    padding: 10px 0;
    border: 2px solid #741f1f;
    text-align: center;
}
.cart-item {
    margin: .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    /* padding: 10px; */
    border-bottom: 1px solid #ddd;
}
.cart-item-container {
    display: flex;
    flex-direction: column;
}
.cart-img img {
    height: 6rem;
    width: 5rem;
}
.cart-itm-total {
    font-size: 1rem;
    margin: 1px;
}
.cart-qty {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-qty button {
    cursor: pointer;
    margin: 5px;
    width: 20px;
}
.cart-qty button:hover {
    background: #0056b3;
}
.remove-item {
    border: none;
    /* padding: 5px; */
    cursor: pointer;
}
.remove-item:hover {
    background: #0056b3;
}
.cart-qty span {
    width: 30px;
    text-align: center;
}
.cart-total, .subtotal, .sales-tax, .coupon, .final-total{
    margin: 10px 10px 10px 0px;
}
.final-total {
    font-size: large;
}
/* Head section end */




/* Body section start */
body {
    min-height: 100vh;
    background: url(../images/joggingflip.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 80px;
    position: relative;
}
body section {
    padding: 2rem 7%;
    transition: all 0.5s ease;
}
body .heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}
body .heading span {
    color: var(--main-color);
    text-transform: uppercase;
}
body .homeBtn, .btn, .cartBtn, .contactBtn, .cBtn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--bg);
    cursor: pointer;
}
body .homeBtn:hover, .btn:hover, .cartBtn:hover, .contactBtn:hover, .cBtn:hover {
    letter-spacing: .2rem;
}
/* Home Section */
body .home {
    min-height: 100vh;
    display: none;
    transition: all 0.5s ease;
    position: relative;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}
body .home .content {
    max-width: 70rem;
    z-index: 888;
    color: #fff;
    display: block;
}
body .home .content h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}
body .home .content p {
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee;
}
/* About section */
body .about .content {
    flex: 1 1 45rem;
    padding: 2rem;
}
body .about .content h3 {
    font-size: 3rem;
    color: #fff;
}
body .about .content p {
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}
/* Sports section */
body .menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
body .menu .box-container .box {
    padding: 5rem;
    text-align: center;
    border: var(--border);
}
body .menu .box-container .box img {
    height: 10rem;
}
body .menu .box-container .box h3 {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}
body .menu .box-container .box .price {
    color: #fff;
    font-size: 2.5rem;
    padding: 5rem 0;
}
body .menu .box-container .box .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}
body .menu .box-container .box:hover {
    background: #fff;
}
body .menu .box-container .box:hover > * {
    color: var(--black);
}
/* Wholesale section */
body .products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
body .products .box-container .box {
    padding: 2rem;
    text-align: center;
    border: var(--border);
    /* height: 25rem; */
    /* For overlay */
    position: relative;
    overflow: hidden;
}
body .products .box-container .box .icons a{
    padding: .8rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: var(--border);
    color: #fff;
    margin: .4rem;
}
body .products .box-container .box .icons a:hover {
    background: var(--main-color);
}
body .products .box-container .box .image img {
    height: 25rem;
    padding: 2rem 0;
}
body .products .box-container .box .content h3, .price {
    color: #fff;
    font-size: 2.5rem;
}
.products .box-container .box .content .price span {
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
} 
body .products .box-container .box .content .stars {
    padding: 1rem;
    font-size: 1.7rem;
    color: var(--main-color);
}




/* For overlay */
/* body .products .box-container .box.blur .image {
    filter: blur(4px);
} */
/* For overlay */
/* body .products .box-container .overlay {
    position: absolute;
    background: rgba(255, 255, 255, 0.95);
    z-index: 10;
    display: none;
    padding: 1rem;
    text-align: center;
    box-sizing: border-box;
} */
/* For overlay */
/* body .products .box-container .box.show-options .overlay {
    display: block;
} */




/* Review section */
body .review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
body .review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}
body .review .box-container .box .quote {
    height: 7rem;
}
body .review .box-container .box p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
    padding: 2rem 0;
}
body .review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
body .review .box-container .box h3 {
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
}
body .review .box-container .box .stars i {
    font-size: 1.5rem;
    color: var(--main-color);
}

/* Contact section */
body .contact .row {
    display: flex;
    background: var(--main-color);
    flex-wrap: wrap;
    gap: 1rem;
}
body .contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}
body .contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}
body .contact .row form .input-box {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
}
body .contact .row form .input-box span {
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}
body .contact .row form .input-box input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}

/* Blogs section */
body .blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
body .blogs .box-container .box {
    border: var(--border);
}
body .blogs .box-container .box .image {
    height: 25rem;
    overflow: hidden;
    width: 100%;
}
body .blogs .box-container .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
body .blogs .box-container .box:hover .image img {
    transform: scale(1.2);
}
body .blogs .box-container .box .content {
    padding: 2rem;
}
body .blogs .box-container .box .content .title {
    font-size: 2.5rem;
    line-height: 1.5;
    color: #fff;
}
body .blogs .box-container .box .content .title:hover {
    color: var(--main-color);
}
body .blogs .box-container .box .content span {
    color: var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}
body .blogs .box-container .box .content p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
    padding: 1rem 0;
}

/* Footer section */
.footer {
    background: var(--black);
    text-align: center;
}
.footer .share {
    padding: 1rem 0;
}
.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: 3rem;
    border-radius: 50%;
}
.footer .share a:hover {
    background-color: var(--main-color);
}
.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}
.footer .links a {
    padding: .7rem 2rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;
}
.footer .links a:hover {
    background: var(--main-color);
}
.footer .credit {
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}
.footer .credit span {
    color: var(--bg);
}




/* media quaries */
@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem ;
    }
}

@media (max-width:768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .search-form {
        width: 90%;
        right: 2rem;
    }

    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3 {
        font-size: 4.5rem;
    }

    .home .content p {
        font-size: 2rem;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
}